@media screen and (max-width: 1500px) {
    .mid a {
        font-size: 3rem !important;
        padding: 1rem !important;
        margin-top: 5%;
    }
    .mid{
        margin-bottom: 5%;
    }
    .main{
        top: 18%;
        height: 75%;
    }
}
@media screen and (max-height:800px){
    .main{
        height: 70vh;
    }
}
@media screen and (max-width:674px){
    input{
        display: none;
    }
    .home a{
        display: none;
    }
    .zuobianzhuanji-text{
        display: none;
    }
}
html{
    background-image: url('beijing.png');
    color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 12%;
    height: 89%;
    background-color: #121212;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pages{
    background-color: #191919;
    margin-top: 5%;
    width: 90%;
    height: 20%;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-bottom: gray 2px;
    font-size: 1.25rem;
}
.home p:hover{
    background-color: gray;
    cursor: pointer;
    border-radius: 5px;
    padding: 10%;
}
.home i{
    margin-right: 5px;
}
.pzjl{
    background-color: #202020;
    margin-top: 5%;
    width: 90%;
    height:77%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zuobianzhuanji{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    height: 15%;
    margin-top: 3%;
    background-color: #121212;
    
}
.zuobianzhuanji img{
    width: 3rem;
    height: 3rem;
}
.zuobianzhuanji-text{
    margin-left: 10px;
}
.mid {
    font-family: "Outfit", sans-serif;
    margin-left: 10%;
    margin-right: 30%;
    text-align: center;
    margin-top: 3%;
}

.mid a {
    font-size: 6rem;
    cursor: pointer;
    padding: 4rem;
    border-radius: 20px;
}

.right {
    float: right;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.right input[type=text] {
    padding: 6px;
    border-radius: 3.125rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.main{
    background-color:#121212;
    position: absolute;
    padding-top: 1%;
    overflow-y: auto;
    left: 13%;
    top: 23%;
    width: 60%;
    height: 63.5%;
    color:white;
    border-radius: 20px;
}
.main::-webkit-scrollbar{
    display: none;
}
.right a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    margin: 1% auto;
}
.login-btn {
    color: black;
    border: 2px solid white;
}
.login-btn:hover{
    border: 2px solid black;
}
.zjl{
    margin-left: 5%;
    margin-bottom: 3%;
}
.zjl strong{
    font-size: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.zj{
    background-color: #181818;
    width: 150px;
    height: 220px;
    text-align: center;
    display: block;
    margin-right: 3%;   
    margin-top: 1%;
    border-radius: 13px;
    cursor: pointer;
}
.zj img{
    width: 120px;
    height: 130px;
    margin-top: 13%;
    border-radius: 13px;
}
.zj:hover{
    background-color: #282828;
}
footer {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /*z-index: 1;*/
    background-color: #121212;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #121212;
    border-radius: 20px;
    text-align: center;
}
.song{
    display: flex;
    float: left;
    margin-left: 3%;
    width: 30%;
}
.song img{
    height: 4rem;
    width: 4rem;
    display: inline-block;
    border-radius: 5px;
}
.jindutiao{ 
    background-color: gray;
    width: 25vw;
    height: 0.325rem;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
}
.playbtn{
    width: 50%;
}
footer i{
    font-size: 1.3rem;
    cursor: pointer;
}
.fa-pause{
    padding: 1.3rem;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.youxiajiao{
    width: 30%;
    float: right;
}