@media screen and (max-width: 1200px) {
    .mid a {
        font-size: 3rem !important;
        padding: 1rem !important;
        margin-top: 5%;
    }
    .mid{
        margin-bottom: 5%;
    }
    input{margin-bottom: 30px;}
}
@media screen and (max-height:800px){
    .main{
        height: 70vh;
    }
}
html{
    background-color: white;
    color: white;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 12%;
    height: 89%;
    background-color: #121212;
    border-radius: 20px;
    text-align: center;
}

.mid {
    font-family: "Nabla", sans-serif;
    margin-left: 10%;
    margin-right: 30%;
    text-align: center;
    margin-top: 3%;
}

.mid a {
    font-size: 6rem;
    cursor: pointer;
    padding: 4rem;
    border-radius: 20px;
    border: solid 2px black;
    background-color: #202020;
}

.right {
    float: right;
    width: 30%;
    text-align: center;
}
.right input[type=text] {
    padding: 6px;
    border-radius: 3.125rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.main{
    background-color:#121212;
    padding-top: 1%;
    margin-left: 13%;
    margin-top: 4%;
    overflow: auto;
    width: 60%;
    height: 60vh;
    display: list-item;
    color:white;
    border-radius: 20px;

}
.main::-webkit-scrollbar{
    display: none;
}
.right a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}

.login-btn {
    color: black;
    border: 2px solid white;
}

.reg-btn {
    color: black;
    border: 2px solid black;
}
.login-btn:hover{
    border: 2px solid black;}
.zjl{
    margin-left: 5%;
    margin-bottom: 3%;
}
.zjl strong{
    font-size: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.zj{
    background-color: #181818;
    width: 150px;
    height: 220px;
    text-align: center;
    display: block;
    margin-right: 3%;   
    margin-top: 1%;
    border-radius: 13px;
    cursor: pointer;
}
.zj img{
    width: 120px;
    height: 130px;
    margin-top: 13%;
    border-radius: 13px;
}
.zj:hover{
    background-color: #282828;
}
footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #121212;
    border-radius: 20px;
    display: flex;
    align-items: center; /* 垂直居中 */
    background-color: #121212;
    border-radius: 20px;
}
.songinfo{
    display: flex;
    float: left;
    margin-left: 3%;
}
.songinfo img{
    height: 80px;
    width: 80px;
    display: inline-block;
}
.jindutiao{ 
    background-color: gray;
    width: 100px;
    height: 5px;
}